h1,h2,h3
{
font-family: arial, 'sans serif'; 
}

h3.sec:first-letter
{
font-size:x-large;
}

h3.sec
{
background-color:lightblue
}

body
{
background-color:white;
}

a:active  {}
a:hover   {background-color:yellow}

a.nav:active  {color:red}
a.nav:hover   {color:red;background-color:lightblue}


#menu {
    display: table;
    width: 100%;
    margin-bottom: 30px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  
  #menu div {
    display: table-cell;
    width: 20%;
    text-align: center;
    vertical-align: middle;
    font-weight: 500;
    color: #333;
  }
  
  #menu div:hover {
    background: #ddd;
  }
  
  #menu .now {
    background: #eee;
    color: #d44950;
  }
  
  #menu a {
    display: block;
    padding: 5px 0 5px 0;
    color: inherit;
  }
  
  #menu a:hover {
    text-decoration: none;
  }
